.input {
  display: flex;
  input {
    border-radius: 6px;
    padding: 8px 12px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    transition: all ease 0.2s;
    height: 40px;
    &:hover {
      box-shadow: 0 0 10px 0 #bbb;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 10px 0 #bbb;
    }
  }
}
