.button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: #df7300;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #e6e6e6;
  transition: all ease 0.2s;
  background: #fff;
  &:hover {
    box-shadow: 0 0 10px 0 #bbb;
  }
}
