$backdrop_bg: #00000059;

.home-page {
  .filter {
    margin-bottom: 16px;
  }
}

.list-of-movies {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $backdrop_bg;
  display: none;
  // right: 0;
  // bottom: 0;
  &.show {
    display: block;
  }
}

.empty-content {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #fff;
    font-size: 20px;
  }
  .loader {
    border: 4px solid #fff; /* Light grey */
    border-top: 4px solid #00000000; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  p {
    font-size: 14px;
  }
  & > .button {
    width: 40px;
    border-radius: 100%;
    padding: 0 10px;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
